<!DOCTYPE html>
<html>
    <head>
        <title>Ze Frank Rides Again</title>
    </head>
    <body>
        <h1>The Show with Ze Frank, 4 years later</h1>
        <%= @todaysshow %>

        <hr>
        <address><a href="http://github.com/jauricchio/zfra/">code</a></address>
</body>
</html>
